{% extends "base.html" %}

{% block tiulos %}
	Contactenos
{% endblock tiulos %}

{% block slider %}
	<section class="slider">
		<h1>Contactenos</h1>
	</section>
{% endblock slider %}

{% block contenido %}
	
	<form  method="POST">
		{% csrf_token %}
		<div>
			<label>Nombre:</label>
			<input type='text' name='nombre'>
			{{ formulario.nombre.errors }}
		</div>
		<div>
			<label>Ciudad:</label>
			<input type='text' name='ciudad' >
			{{ formulario.ciudad.errors }}
		</div>
		<div>
			<label>Email:</label>
			<input type='email' name='e_mail'>
			{{ formulario.e_mail.errors }}
		</div>
		<div>
			<label>Teléfono:</label>
			<input type='text' name='telefono' >
			{{ formulario.telefono.errors }}
		</div>
		<div>
			<label>Comentario:</label>
			<input type='text' name='comentario' >
			{{ formulario.comentario.errors }}
		</div>
		<div>
			<input type= 'submit' value= 'Enviar'>
		</div>
	</form>
	<div>
		<h1>Informacion de la Empresa</h1>
		
	{{info.e_mail}}<br>
	{{info.direccion}}<br>
	{{info.telefono}}<br>
	{{info.cell}}<br>
	{{info.ruc}}	
	
	<div>		            					
		<a href="https://github.com/{{info.git}}" target="_blank"><img src="{{STATIC_URL}}img/icn_github.png"></a>
		<a href="https://github.com/{{info.google}}" target="_blank"><img src="{{STATIC_URL}}img/icn_github.png"></a>
		<a href="https://twitter.com/{{equipo.twitter}}" target="_blank"><img src="{{STATIC_URL}}img/icn_twitter.png"></a>
		<a href="http://www.facebook.com/{{equipo.face}}" target="_blank"><img src="{{STATIC_URL}}img/icn_twitter.png"></a>
	</div>

	</div>

	<h1>Mapa</h1>	
	<div id="map" style="width:100%; height:400px"> </div>  
	
{% endblock contenido %}


  {% block script %}
  <script src="http://maps.google.com/maps?file=api&amp;sensor=false&amp;key=ABQIAAAAHhzikxCQyRAS8ryQoB75mRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQiqBRnE1Iky5sZfKGxzYbUanZ0HA"></script>

	<script>
	$(document).on("ready", inicio);

	function inicio(){
			
			$.ajax({				
				type: "GET",
				url: "/ajax/coordenadas/",
				success: function(data)
				{
					inicializar(data.latitud,data.longitud);
				},
				 error: function(data)
				{
                	console.log(data);
                }


			});

			}
	
	function inicializar(latitud, longitud)
			{
				
				if (GBrowserIsCompatible())
				{
					var map = new GMap2(document.getElementById("map"));
					map.setCenter(new GLatLng(latitud,longitud), 17);
					map.addControl(new GMapTypeControl());
					map.addControl(new GLargeMapControl());
					map.addControl(new GScaleControl());
					map.addControl(new GOverviewMapControl());
					map.addOverlay(new GMarker(new GLatLng(latitud,longitud)));

					function informacion(ubicacion, descripcion) 
					{

						var marca = new GMarker(ubicacion);
						GEvent.addListener(marca, "click", function() {
						marca.openInfoWindowHtml(descripcion); } );
						return marca;

					}

					var ubicacion = new GLatLng(latitud,longitud);
					var descripcion = '<b>Texto ejemplo</b><br/>Qaysen SAC<br />';
					var marca = informacion(ubicacion, descripcion);

					map.addOverlay(marca);

				}
			}		

	</script>
  {% endblock script %}
