{% extends "base.html" %}

{% block titulo %}
	{{servicio.nombre}}
{% endblock titulo %}

{% block slider %}
	<section class="slider">
		<h1>{{servicio.nombre}}</h1>
	</section>
{% endblock slider %}

{% block contenido %}
	<section class="detalle_servicio">
		<p>"{{servicio.descripcion}}"</p>
		<img src="{{MEDIA_URL}}{{servicio.img}}" alt="">

		<p>Si quieres contar con nosotros para desarrollar tu proyecto, no dudes en ir a la seccion Contactenos para poder reunirnos.</p>
	</section>
{% endblock contenido %}