{% extends "base.html" %}

{% block titulo %}
	{{servicio.nombre}}
{% endblock titulo %}

{% block slider %}
	<section class="slider">
		<h1>{{servicio.nombre}}</h1>
	</section>
{% endblock slider %}

{% block contenido %}
	<section class="contenido1">
		<p>"{{servicio.descripcion}}"</p>
	</section>
{% endblock contenido %}
      		{% for plan in planes %}										
				
				<h4>{{plan.nombre}}</h4>
		      	<h4>Precio: {{plan.precio}}	</h4>
		      	<h4>Descripcion: {{plan.caracteristicas}}</h4>
		    		
			{% endfor %}