{% extends "base.html" %}

{% block titulo %}
      {{producto.nombre}}
{% endblock titulo %}

{% block slider %}
      <section class="slider">
            <h1>{{producto.nombre}}</h1>
      </section>
{% endblock slider %}

{% block contenido %}
      <section class="detalle_producto">
            <div class="caracteristicas_producto">
                  <p>Marca: {{producto.marca}}</p>
                  <p>Procesador: {{producto.detalle.procesador}}</p>
                  <p>RAM: {{producto.detalle.memoriaRAM}}</p> 
                  <p>HD: {{producto.detalle.discoDuro}}</p> 
                  <p>Pantalla: {{producto.detalle.pantalla}}</p>  
                  <p>Interfaz Grafica: {{producto.detalle.interfazGrafica}}</p> 
                  <p>Sistema Operativo: {{producto.detalle.sisope}}</p>
                  <p>Otros: {{producto.detalle.otros}}</p>
            </div>
            <div class="imagen">
                  <img src='{{MEDIA_URL}}{{producto.img}}'>
            </div>
      </section>
{% endblock contenido %}