{% extends "base.html" %}

{% block slider %}
	<section class="slider">
		<ul>
			{% for slider in slider %}
			<li>
				<article>
					<div class="contenido">
                            <h3>{{slider.titulo}}</h3>
                            <p>{{slider.descripcion}}</p>
                    </div>
                    <figure>
                        <img src="{{MEDIA_URL}}{{slider.img}}" alt="">
                    </figure>
				</article>
			</li>
			{% endfor %}
		</ul>
	</section>
{% endblock slider %}

{% block contenido %}
		<div class="titu">
            <div class="linea"></div>
            <div class="pre"></div>
            <div class="titulo"><span>Servicios</span></div>
            <div class="next"></div>
            <div class="linea"></div>
        </div>
		<section class="servicios1">
            {% for servicio in servicios %}
			<article class="servicio">
				<img src='{{MEDIA_URL}}{{servicio.img}}'>
				<h4>
					<a href="/servicios/{{servicio.slug}}">{{servicio.nombre}}</a>
				</h4>
	          	<p>{{servicio.descripcion}}</p>
				<button href="{{servicio.slug}}">Mas información</button>
			</article>
			{% endfor %}
        </section>
        <div class="titu">
            <div class="linea"></div>
            <div class="pre"></div>
            <div class="titulo"><span>Productos</span></div>
            <div class="next"></div>
            <div class="linea"></div>
        </div>

        {% for producto in productos %}
		<article>
			<img src='{{MEDIA_URL}}{{producto.img}}'>
      		<h4>
      			<a href="{{producto.slug}}">{{producto.nombre}}</a>
      		</h4>
      		<p>Marca: {{producto.marca}}</p>
      		<p>Modelo: {{producto.modelo}}</p>
      		<p class="precio">Precio: {{producto.precio}}</p>
		</article>
		{% endfor %}
{% endblock contenido %}

{% block script %}
		<script>
            $(document).on('ready', inicio);
            
            function inicio()
            {
                $(function() {
                    $('.slider').unslider({
                        speed: 2000,
                        delay: 5000,
                        // keys: true,
                        dots: true,
                        fluid: true
                    });
                });
            }
        </script>
{% endblock script %}