{% extends "base.html" %}

{% block titulo %}
	Quienes Somos Qaysen
{% endblock titulo %}

{% block slider %}
		<section class="slider">
			<h1>¿Quienes somos?</h1>
		</section>
{% endblock slider %}

{% block contenido %}
	<section class="contenido1">
		{% for nosotros in nosotros %}
			<p>{{nosotros.descripcion}} - Nuestra misión</p>
		{% endfor %}
	</section>

	<section class="equipo">

		<div class="titu">
            <div class="linea"></div>
            <div class="pre"></div>
            <div class="titulo"><span>Nuestro equipo</span></div>
            <div class="next"></div>
            <div class="linea"></div>
        </div>

		{% for equipo in equipo %}
			<article>
				<img src='{{MEDIA_URL}}{{equipo.img}}' style="width:100px;">
				<h3>{{equipo.usuario.username}}</h3>
				<p>{{equipo.cargo}}</p>
	        	<div >		            					
	            	<a href="https://github.com/{{equipo.git}}" target="_blank"><img class="red_social" src="{{STATIC_URL}}img/Github.png"></a>
	            	<a href="https://twitter.com/{{equipo.twitter}}" target="_blank"><img class="red_social" src="{{STATIC_URL}}img/Twitter.png"></a>
	            	<a href="http://www.facebook.com/{{equipo.face}}" target="_blank"><img class="red_social" src="{{STATIC_URL}}img/Facebook.png"></a>
	        	</div>
			</article>
		{% endfor %}
	</section>
{% endblock contenido %}