<html>
<head>
	<title>Nosotros</title>
</head>
<body>

	 {% for nosotros in nosotros %}
        <div>                    
                <h1> {{nosotros.titulo}}</h1>               
               <div>{{nosotros.descripcion}}</div>
                
        </div>              
      {% endfor %}
      <div>
      		<h1>EQUIPO DE TRABAJO...</h1>
      		{% for equipo in equipo %}
											
				<a class="photo-trab" href="/"><img src='{{MEDIA_URL}}{{equipo.img}}' style="width:150px; height:150px;"></a>
				<div class="h2">
		        	<div class="nom-trab">
		          		<a href="/">{{equipo.usuario}}</a><span class="titulo-trab">, {{equipo.cargo}}</span>
		        	</div>
		        	<div class="social-trab">		            					
		            	<a href="https://github.com/{{equipo.git}}" target="_blank"><img src="{{STATIC_URL}}img/icn_github.png"></a>
		            	<a href="http://www.linkedin.com/profile/view?id={{equipo.linkedin}}" target="_blank"><img src="{{STATIC_URL}}img/icn_linkedin.png"></a>
		            	<a href="https://twitter.com/{{equipo.twitter}}" target="_blank"><img src="{{STATIC_URL}}img/icn_twitter.png"></a>
		            	<a href="http://www.facebook.com/{{equipo.face}}" target="_blank"><img src="{{STATIC_URL}}img/icn_twitter.png"></a>
		        	</div>
		        						
		      	</div>
		      	<p class="descr-trab">{{equipo.descripcion}}</p>
		      						
		    			
				{% endfor %}


      </div>
</body>
</html>