{% extends "base.html" %}

{% block titulo %}
	Productos de Qaysen
{% endblock titulo %}

{% block slider %}
		<section class="slider">
			<h1>Productos</h1>
		</section>
{% endblock slider %}

{% block contenido %}
	<section class="contenido1">
		<p>Nos hemos enfocado en brindarles las laptops mas bajas del mercado. Miralas!</p>
	</section>

	<section class="productos">
		{% for producto in productos %}
		<article>
			<img src='{{MEDIA_URL}}{{producto.img}}'>
      		<h4>
      			<a href="{{producto.slug}}">{{producto.nombre}}</a>
      		</h4>
      		<p>Marca: {{producto.marca}}</p>
      		<p>Modelo: {{producto.modelo}}</p>
      		<p class="precio">Precio: {{producto.precio}}</p>
		</article>
		{% endfor %}
	</section>
{% endblock contenido %}