{% extends "base.html" %}

{% block titulo %}
	Servicios de Qaysen
{% endblock titulo %}

{% block slider %}
		<section class="slider">
			<h1>Servicios</h1>
		</section>
{% endblock slider %}

{% block contenido %}
	<section class="contenido1">
		<p>Conoce nuestros servicios.</p>
	</section>
	<section class="servicios1">
		{% for servicio in servicios %}
			<article>
				<img src='{{MEDIA_URL}}{{servicio.img}}' style="width:150px;">
				<h4>
					<a href="{{servicio.slug}}">{{servicio.nombre}}</a>
				</h4>
	          	<p>{{servicio.descripcion}}</p>
				<button href="{{servicio.slug}}">Mas información</button>
			</article>
		{% endfor %}
	</section>
{% endblock contenido %}