// Colores
Plomo = #464646
Celeste = #ddedf9
Celeste_bordes = #c6d9e9
Color_letras = #555555
Enlace = #2583ad
Naranja = #d54e21
Blanco = #ffffff
Amarillo = #FFFFCC
Bordes_amarillas = #FFCC99
Color_ploma_claro = #f7f7f7
Bordes_cajas_plomo_claro = #e1e1e1

*
	box-sizing border-box
body
	background Blanco
	font-family "Open Sans"
	text-align center
	color Color_letras
	font-size 15px
a
	color Plomo
	text-decoration none
a:hover
	color Enlace_hover


// Cabecera
#cabecera
	background Blanco
	height 45px
	h1
		position absolute
		left 50%
		top 0
		margin-top 2px
		font-weight 400
		font-size 2.5em
		z-index 3
		-webkit-transform translate(-50%, 0)
		-moz-transform translate(-50%, 0)
		a
			color Blanco

// Logo
.estola
	position absolute
	top 0
	margin 0 auto
	height 70px
	border-bottom 20px solid transparent
	z-index 1
.derecha
	right 50%
	border-right 105px solid Naranja
	border-left 0 solid Naranja
.izquierda
	left 50%
	border-right 0 solid Naranja
	border-left 105px solid Naranja

// Menu
#menu
	text-align center
	vertical-align top
	z-index 2
	position relative
	height 45px
	overflow hidden
	.espacio
		width 220px
		overflow hidden
	ul li
		display inline-block
		vertical-align middle
		margin 10px 5px
		a
			padding 5px
		&:hover a
			background Naranja
			border-radius 4px
			color Blanco
			padding 5px
			opacity 0.8

// Slider
.slider
	background Celeste
	border-bottom 1px solid Celeste_bordes
	border-top 1px solid Celeste_bordes
	padding 10px 0
	position relative
	overflow hidden
	width 100%
	& > ul li
		list-style none
		padding 0 0 20px 0
	ul li, ol li
		float left
	h3
		font-weight 700
		font-size 2.5em
		color Plomo
	a
		background Amarillo
		border-radius 4px
		border 1px solid Bordes_amarillas
		padding 10px
		color Enlace
		opacity 0.7
		&:hover
			opacity 1
	article
		margin 30px 0
		figure
			width 47%
			margin-right 4%
			img
				width 100%
				overflow hidden
		.contenido
			width 47%
		figure
		.contenido
			display inline-block
			vertical-align top
	.dots
		position absolute
		right 2%
		bottom 10px
		li
			display inline-block
			width 10px
			height 10px
			margin 0 4px
			text-indent -999em
			border 2px solid #ccc
			border-radius 6px
			cursor pointer
			opacity .4
			-webkit-transition background .5s, opacity .5s
			-moz-transition background .5s, opacity .5s
			transition background .5s, opacity .5s
			&.active
				background #fff
				opacity 1


// Servicios
.servicios
	margin 25px 0
.titu
	margin 2em 0
.linea
	width 27%
	border-top 1px solid Bordes_cajas_plomo_claro
.linea
.pre
.titulo
.next
	display inline-block
	vertical-align middle
.pre
	margin-right -4px
	width 5%
	height 0
	border-top 20px solid transparent
	border-right 20px solid Naranja
	border-bottom 20px solid transparent
.titulo
	background Naranja
	color white
	height 40px
	width 30%
	span
		font-size 1.5em
.next
	margin-left -4px
	width 5%
	height 0
	border-top 20px solid transparent
	border-left 20px solid Naranja
	border-bottom 20px solid transparent

.servicio
	display inline-block
	width 24%
	img
		width 100%

// Nosotros
.contenido1
	background Color_ploma_claro
	border-bottom 1px solid Bordes_cajas_plomo_claro
	p
		font-size 1.4em
		font-weight 300
		margin 0
		padding 20px
		color Enlace
		// text-transform uppercase
.nosotros
	width 49%
	display inline-block
	vertical-align top
.equipo article
	display inline-block
	margin 0 10px
	&>img
		border-radius 100px
		// border 5px solid Naranja
	.red_social
		width 30px
	p
		background Color_ploma_claro
		border-top 1px solid Bordes_cajas_plomo_claro
		border-bottom 1px solid Bordes_cajas_plomo_claro
		padding 2.5px
		margin 10px

// Servicios
.servicios1
	margin 20px
	article
		display inline-block
		vertical-align top
		width 33%
		img
			margin-bottom 10px
			width 100%
		h4
			margin 5px 0
			font-weight 700
			font-size 1.3em
			a
				color Enlace
				&:hover
					color Naranja
		p
			font-size 0.9em
		button
			background Color_ploma_claro
			border-radius 4px
			border 1px solid Bordes_cajas_plomo_claro
			font-size 0.9em
			padding 5px
			color Enlace
			&:hover
				background Celeste
				border 1px solid Enlace

// Productos
.productos
	margin 20px
	article
		width 200px
		display inline-block
		background Celeste
		border 1px solid Celeste_bordes
	p
		margin 2px
	.precio
		background Naranja
		padding 5px
		color Blanco
		margin 15px 0 0 0
		border 1px solid Celeste_bordes
		border-top none
		&:hover
			background Amarillo
			color Plomo
	img
		width 100%

// Proyectos
.proyectos
	padding 20px
	border-bottom 1px solid Bordes_cajas_plomo_claro
	img
		width 48%
	.info
		width 48%
		padding 0 20px
		h3
			font-weight 400
			font-size 2em
			color Color_letras
			padding 5px
	.info
	img
		display inline-block
		vertical-align top
.Sisgesa
	background Blanco
	border-bottom Color_ploma_claro

// Detalle de servicios
.detalle_servicio
	padding 20px
.detalle_producto
	padding 20px
	.imagen
		width 69%
	.caracteristicas_producto
		width 30%
		padding-left 10%
		text-align left
	.imagen
	.caracteristicas_producto
		display inline-block
		vertical-align top
// Footer
footer
	background Plomo
	border-top 1px solid Bordes_cajas_plomo_claro
	height 60px
	color Blanco
	padding 20px

// Responsive

@media screen and (max-width: 480px)
	.servicio
		width 100%
	#menu
		display none
	.slider article
		.contenido
			width 90%
		figure
			display none
	.contenido1
		p
			font-size 1.1em
	.servicios1 article
		width 100%

	// titulo
	.linea
		width 10%
	.titulo
		width 60%