* {
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: "Open Sans";
  text-align: center;
  color: #555;
  font-size: 15px;
}
a {
  color: #464646;
  text-decoration: none;
}
a:hover {
  color: Enlace_hover;
}
#cabecera {
  background: #fff;
  height: 45px;
}
#cabecera h1 {
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: 2px;
  font-weight: 400;
  font-size: 2.5em;
  z-index: 3;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
}
#cabecera h1 a {
  color: #fff;
}
.estola {
  position: absolute;
  top: 0;
  margin: 0 auto;
  height: 70px;
  border-bottom: 20px solid transparent;
  z-index: 1;
}
.derecha {
  right: 50%;
  border-right: 105px solid #d54e21;
  border-left: 0 solid #d54e21;
}
.izquierda {
  left: 50%;
  border-right: 0 solid #d54e21;
  border-left: 105px solid #d54e21;
}
#menu {
  text-align: center;
  vertical-align: top;
  z-index: 2;
  position: relative;
}
#menu .espacio {
  width: 220px;
  overflow: hidden;
}
#menu ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 5px;
}
#menu ul li a {
  padding: 5px;
}
#menu ul li:hover a {
  background: #d54e21;
  border-radius: 4px;
  color: #fff;
  padding: 5px;
  opacity: 0.8;
}
.slider {
  background: #ddedf9;
  border-bottom: 1px solid #c6d9e9;
  border-top: 1px solid #c6d9e9;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slider > ul li {
  list-style: none;
  padding: 0 0 20px 0;
}
.slider ul li,
.slider ol li {
  float: left;
}
.slider h3 {
  font-weight: 700;
  font-size: 2.5em;
  color: #464646;
}
.slider a {
  background: #ffc;
  border-radius: 4px;
  border: 1px solid #fc9;
  padding: 10px;
  color: #2583ad;
  opacity: 0.7;
}
.slider a:hover {
  opacity: 1;
}
.slider article {
  margin: 30px 0;
}
.slider article figure {
  width: 47%;
  margin-right: 4%;
}
.slider article figure img {
  width: 100%;
  overflow: hidden;
}
.slider article .contenido {
  width: 47%;
}
.slider article figure,
.slider article .contenido {
  display: inline-block;
  vertical-align: top;
}
.slider .dots {
  position: absolute;
  right: 2%;
  bottom: 10px;
}
.slider .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: background 0.5s, opacity 0.5s;
  -moz-transition: background 0.5s, opacity 0.5s;
  transition: background 0.5s, opacity 0.5s;
}
.slider .dots li.active {
  background: #fff;
  opacity: 1;
}
.servicios {
  margin: 25px 0;
}
.titu {
  margin: 2em 0;
}
.linea {
  width: 27%;
  border-top: 1px solid #e1e1e1;
}
.linea,
.pre,
.titulo,
.next {
  display: inline-block;
  vertical-align: middle;
}
.pre {
  margin-right: -4px;
  width: 5%;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid #d54e21;
  border-bottom: 20px solid transparent;
}
.titulo {
  background: #d54e21;
  color: #fff;
  height: 40px;
  width: 30%;
}
.titulo span {
  font-size: 1.5em;
}
.next {
  margin-left: -4px;
  width: 5%;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #d54e21;
  border-bottom: 20px solid transparent;
}
.servicio {
  display: inline-block;
  width: 24%;
}
.servicio img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .servicio {
    width: 100%;
  }
  #menu {
    display: none;
  }
}
.contenido1 {
  background: #f7f7f7;
  border-bottom: 1px solid #e1e1e1;
}
.contenido1 p {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  padding: 20px;
  color: #2583ad;
}
.nosotros {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
.equipo article {
  display: inline-block;
  margin: 0 10px;
}
.equipo article>img {
  border-radius: 100px;
}
.equipo article .red_social {
  width: 30px;
}
.equipo article p {
  background: #f7f7f7;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 2.5px;
  margin: 10px;
}
.servicios1 {
  margin: 20px;
}
.servicios1 article {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
.servicios1 article img {
  height: 120px;
  margin-bottom: 20px;
}
.servicios1 article h4 {
  font-weight: 700;
}
.servicios1 article p {
  font-size: 0.9em;
}
.servicios1 article button {
  background: #f7f7f7;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  font-size: 0.8em;
  padding: 5px;
  color: #2583ad;
}
.servicios1 article button:hover {
  background: #ddedf9;
  border: 1px solid #2583ad;
}
.productos {
  margin: 20px;
}
.productos article {
  width: 200px;
  display: inline-block;
  background: #ddedf9;
  border: 1px solid #c6d9e9;
}
.productos p {
  margin: 2px;
}
.productos .precio {
  background: #d54e21;
  padding: 5px;
  color: #fff;
  margin: 15px 0 0 0;
  border: 1px solid #c6d9e9;
  border-top: none;
}
.productos .precio:hover {
  background: #ffc;
  color: #464646;
}
.productos img {
  width: 100%;
}
.proyectos {
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.proyectos img {
  width: 48%;
}
.proyectos .info {
  width: 48%;
  padding: 0 20px;
}
.proyectos .info h3 {
  font-weight: 400;
  font-size: 2em;
  color: #555;
  padding: 5px;
}
.proyectos .info,
.proyectos img {
  display: inline-block;
  vertical-align: top;
}
.Sisgesa {
  background: #fff;
  border-bottom: #f7f7f7;
}
.detalle_servicio {
  padding: 20px;
}
.detalle_producto {
  padding: 20px;
}
.detalle_producto .imagen {
  width: 69%;
}
.detalle_producto .caracteristicas_producto {
  width: 30%;
  padding-left: 10%;
  text-align: left;
}
.detalle_producto .imagen,
.detalle_producto .caracteristicas_producto {
  display: inline-block;
  vertical-align: top;
}
footer {
  background: #464646;
  border-top: 1px solid #e1e1e1;
  height: 60px;
  color: #fff;
  padding: 20px;
}
